.login-18 {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.login-18 .form-section {
    max-width: 600px;
    margin: 0 auto;
    background: url(../images/img-18.jpg) top left repeat;
    background-size: cover;
    padding: 70px;
    border-radius: 100px 0 100px 0;
    z-index: 999;
    position: relative;
}

.login-18 .form-section:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -999;
    background: rgb(33 9 90 / 53%);
    border-radius: 100px 0 100px 0;
}

.login-18 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Jost', sans-serif;
}

.login-18 .form-section a {
    text-decoration: none;
}

.login-18 .typing > *{
    overflow: hidden;
    white-space: nowrap;
    animation: typingAnim 3s steps(50);
    text-transform: uppercase;
}

@keyframes typingAnim {
    from {width:0}
    to {width:100%}
}

.login-18 .form-section p{
    color: #e2e1e1;
    margin-bottom: 0;
    font-size: 16px;
}

.login-18 .form-section p a{
    color: #e2e1e1;
}

.login-18 .form-section ul{
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.login-18 .form-section .social-list li {
    display: inline-block;
    margin-bottom: 5px;
}

.login-18 .logo-2 img{
    margin-bottom: 20px;
    height: 35px;
}

.login-18 .form-section .thembo{
    margin-left: 4px;
}

.login-18 .form-section h3 {
    margin: 0 0 40px;
    font-size: 22px;
    font-weight: 400;
    color: #e2e1e1;
}

.login-18 .form-section .form-group {
    margin-bottom: 30px;
}

.login-18 .form-section .form-control {
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    color: #535353;
    border-radius: 50px;
    height: 50px;
    border: 1px solid #fff;
    background: #fff;
}

.login-18 .form-section label{
    color: #e2e1e1;
    font-size: 16px;
}

.login-18 .form-section .checkbox .terms{
    margin-left: 3px;
}

.login-18 .form-section .terms{
    margin-left: 3px;
}

.login-18 .form-section .checkbox {
    font-size: 16px;
}

.login-18 .form-section .form-check{
    float: left;
    margin-bottom: 0;
}

.login-18 .form-section .form-check a {
    color: #e2e1e1;
}

.login-18 .form-section .form-check-input {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    position: absolute;
    margin-left: -22px;
    border: none;
    border-radius: 100%;
}

.login-18 .form-check-input:focus {
    box-shadow: none;
}

.login-18 .form-check-input:checked {
    background-color: red;
    border-color: red;
}

.login-18 .form-section .form-check-label {
    padding-left: 5px;
    margin-bottom: 0;
    font-size: 16px;
    color: #fff;
}

.login-18 .form-section a{
    color: #fff;
}

.login-18 .form-section a.forgot-password {
    font-size: 16px;
    color: #e2e1e1;
    float: right;
}

.login-18 .social-list{
    float: left;
    margin-bottom: 40px;
}

.login-18 .social-list span {
    margin-right: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #e2e1e1;
}

.login-18 .social-list a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    color: rgb(255, 255, 255);
    margin: 0 2px 2px 0;
    border-radius: 50px;
}

.login-18 .btn-theme {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: none;
    outline: none !important;
    color: #fff;
    text-transform: capitalize;
    transition: all 0.3s linear;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    border-radius: 50px;
    width: 100%;
}

.login-18 .btn-theme:hover:after {
    transform: perspective(200px) scaleX(1.05) rotateX(0deg) translateZ(0);
    transition: transform 0.4s linear, transform 0.4s linear;
}

.login-18 .btn-theme:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    content: "";
    border-radius: 7px;
    transform: perspective(200px) scaleX(0.1) rotateX(90deg) translateZ(-10px);
    transform-origin: bottom center;
    transition: transform 0.4s linear, transform 0.4s linear;
    z-index: -1;
}

.login-18 .btn-lg{
    padding: 0 50px;
    line-height: 50px;
}

.login-18 .btn{
    box-shadow: none!important;
}

.login-18 .btn-primary {
    background: red;
}

.login-18 .btn-primary:hover{
    color: red;
}

/** Social media **/
.login-18 .facebook-bg{
    background: #4867aa;
}

.login-18 .facebook-bg:hover {
    background: #3b589e;
}

.login-18 .twitter-bg {
    background: #33CCFF;
}

.login-18 .twitter-bg:hover {
    background: #2abdef;
}

.login-18 .google-bg {
    background: #db4437;
}

.login-18 .google-bg:hover {
    background: #dc4e41;
}

.login-18 .linkedin-bg {
    background: #2392e0
}

.login-18 .linkedin-bg:hover {
    background: #1c82ca;
    color: #fff;
}

.login-18 .ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871;
}

.login-18 .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.login-18 .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(0, -25px, 0);
    }
    50% {
        transform: translate3d(0, 5px, 0);
    }
}

/** MEDIA **/
@media (max-width: 992px) {
    .login-18 .form-section {
        padding: 50px 30px;
    }
}